<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336662432974-mr1icopbh2qn1fkvdb7ajc30ij42q802.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336662432974-mr1icopbh2qn1fkvdb7ajc30ij42q802</string>
	<key>API_KEY</key>
	<string>AIzaSyDjQZVVn4Fs2enOIl5oPSX5aA_AeZZAswo</string>
	<key>GCM_SENDER_ID</key>
	<string>336662432974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>trungduc.FireStore-Demo</string>
	<key>PROJECT_ID</key>
	<string>firestore-demo-ed12f</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-demo-ed12f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336662432974:ios:7eefe95e01be5b49ee149f</string>
	<key>DATABASE_URL</key>
	<string>https://firestore-demo-ed12f.firebaseio.com</string>
</dict>
</plist>